<div class="footer row">
    <div class="left col-md-4 col-12">
        <a href="https://www.linkedin.com/in/adrien-musserotte" class="link"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
        <a href="https://github.com/AdrienMS" class="link"><fa-icon [icon]="faGithub"></fa-icon></a>
    </div>
    <div class="center col-md-4 col-12">
        <div class="content-logo"></div>
    </div>
    <div class="right col-md-4 col-12">
        <a href="tel:+33627294749" class="link">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
            <p>(+33)6.27.29.47.49</p>
        </a>
        <a href="mailto: adrien.musserotte@gmail.com" class="link">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <p>adrien.musserotte@gmail.com</p>
        </a>
    </div>
</div>

<footer>(c) All Rights Reserved</footer>